<html>
<head>
    <title>notepad.cc clone</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- Static imports -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body onload="load_page( {{ caretPos }}, {{ scrollTop }})">
<div class="container-fluid col-md-10 col-md-offset-1">
    <div class="well bs-component">
        <fieldset>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="pull-right">
                        <button class="btn btn-default" onclick="toggleJustify()">Justify toggle</button>
                        <button type="submit" class="btn btn-primary" onclick="saveContent()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <textarea class="form-control" id="textArea" spellcheck="false">{{ content }}</textarea>
                    <span class="help-block">
                        <span>post_id: {{ post_id }}, </span>
                        <span>word_count: <span id="wordCount">0</span>, </span>
                        <span>caret position: <span id="caretPos">{{ caretPos }}</span>, </span>
                        <span>scroll position: <span id="scrollTop">{{ scrollTop }}</span></span>
                    </span>
                </div>
            </div>
        </fieldset>
        </form>
        {#    <h1>Flaskr</h1>#}
        {#    <div class=metanav>#}
        {#        {% if not session.logged_in %}#}
        {#            <a href="{{ url_for('login') }}">log in</a>#}
        {#        {% else %}#}
        {#            <a href="{{ url_for('logout') }}">log out</a>#}
        {#        {% endif %}#}
        {#    </div>#}
        {#    {% for message in get_flashed_messages() %}#}
        {#        <div class=flash>{{ message }}</div>#}
        {#    {% endfor %}#}
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
